.auth-container {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
  }
  
  .auth-container h2 {
    margin-bottom: 15px;
  }
  
  .auth-container form {
    display: flex;
    flex-direction: column;
  }
  
  .auth-container label {
    margin-top: 10px;
    text-align: left;
  }
  
  .auth-container input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .auth-container button {
    margin-top: 15px;
    padding: 10px;
    background-color: #2a3f7b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .auth-container button:hover {
    background-color: #218838;
  }
  
  .auth-container p {
    margin-top: 10px;
  }
  
  .auth-container a {
    color: #007bff;
    text-decoration: none;
  }
  
  .auth-container a:hover {
    text-decoration: underline;
  }
  